
.infoButton {
    background-color: whitesmoke;
    margin-top: 1vmin;
    border-radius: 5vmin;
    text-align: center;
    top: 0;
    z-index: 2;
    position: fixed;
    right: 10vmin;
}

.infoButton2 {
    border-width: 0 !important; 
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    padding: 0;
    margin-top: 2vmin;
    border-radius: 5vmin;
    text-align: center;
    top: 1.5vmin;
    z-index: 2;
    position: fixed;
    right: 10vmin;
}

.mainPage {
    --marginMain: 10vmin;

    margin: var(--marginMain);
    /* position: absolute; */
    text-align: center;
    background-color:whitesmoke;
    min-width: calc(100vw - (2 * var(--marginMain)));
    min-height: calc(100vh - (2 * var(--marginMain)));

    border-radius: 4vmin;
}

.portraitFontSize {
    font-size: 2.1vmax;
}

h1 {
    padding: 5vmin;
    margin-bottom: 0;

}

.row {
    display: flex;
}

.textBoxLandscape {
    flex: 50%;
    min-height: 100%;
    text-align: center;
    display: table-cell;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-top: 10vh;

}

.textBoxPortrait {
    margin-left: 5vw;
    width: 70vw;
}

.formBoxLandscape {
    /* padding-left: 12vw; */
    padding-right: 5vw;
    flex: 50%;
}

.col {
    flex: 40%;
    margin-right: 0;
    padding-right: 0;

}

.formBoxPortrait {
    margin-left: 5vw;
    width: 70vw;
}

.formLabel {
}

.formSection {
    text-align: left;
    margin: 1vmin;
    /* width: 100%; */
}

.dropdown {
    background-color: white;
    border-width: 1px;
    border-color: black;
    width: 100%;
    font-size: inherit;
    padding: 2px;
    border-radius: 3px;
}

.dateInput {
    border-width: 1px;
    border-color: black !important;
    background-color: white;
    width: 100%;
    font-size: inherit;
    padding: 2px;
    border-radius: 3px;
}

.textInput {
    border-width: 1px;
    border-color: black;
    background-color: white;
    width: 100%;
    font-size: inherit;
    padding: 2px;
    border-radius: 3px;
}

.checkBox {
    flex: 60%;
    text-align: right;
    padding-right: 4vmin;
}

.checkBoxInput {
    background-color: white;
    border-width: 1px;
    border-radius: 0;
    border-color: black !important;
    box-shadow: none;
}

.button {
    /* background-color: #007bff; */
    /* border: none; */
    /* border-radius: 10px; */
    font-size: inherit;
    /* padding: 1vmin; */
    /* color: white; */
    float: left;
    margin: 1vmin;
    color: black;
    border-color: black;
    background-color: white;
}

.bmcButton {
    margin-left: 1vw;
}

