<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">anniversary reminder</h4>
    </div>
    <div class="modal-body">
        <p>made with AngularJS and lots of TLC by me (<a href="https://nicholaslatham.com">nick latham</a>)</p>
        <p>for media inquiries contact me at nicholaslatham1999@gmail.com</p>
        <p>note: I am not responsible for the potentially thousands of events you have the power to create</p>
    </div>
    <a 
        class="bmcButton" 
        href="https://www.buymeacoffee.com/nicklatham" 
        target="_blank" 
        onclick="return getOutboundLink(&quot;https://www.buymeacoffee.com/nicklatham&quot;),!0">
            <img alt="Buy me a coffee" src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" />
            <span>Buy me a coffee</span>
    </a>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary button infoButton2" (click)="openModal(content)">about</button>

<div  class="mainPage">
    <h1>anniversary reminder</h1>
    <div [ngClass]="!portrait ? 'row' : 'portraitFontSize'">
        <div [ngClass]="!portrait ? 'textBoxLandscape' : 'textBoxPortrait'">
            <p>generate calendar events so that you never forget those important anniversaries</p>
            <p>to use, fill out the form and press generate</p>
        </div>

        <form [ngClass]="!portrait ? 'formBoxLandscape' : 'formBoxPortrait'" (ngSubmit)="createFile()">
            <div class="formSection">
                <div class="formLabel">anniversary type</div>
                <select class="dropdown" name="typeSelection" [(ngModel)]="typeSelection">
                    <option *ngFor="let x of anniversaryOptions">{{x}}</option>
                </select>
            </div>

            <div class="formSection">
                <div [hidden]="typeSelection!='birthday'">name</div>
                <input class="textInput" [hidden]="typeSelection!='birthday'" name="birthdayName" type="text" [(ngModel)]="birthdayName">
            </div>

            <div class="formSection">
                <div>anniversary date</div>
                <input type="date" class="dateInput" name="anniversaryDate" [(ngModel)]="anniversaryDate">
            </div>
            
            <div class="formSection">
                <div class="row">
                    <div class="col">start date</div>
                    <div class="checkBox"><input class="checkBoxInput" type="checkbox" (change)="setDateToToday()">&nbsp;use today's date</div>    
                </div>
                <input 
                    type="date" 
                    class="dateInput"
                    name="dateSelection" 
                    (change)="setDate($event)"
                    value="{{ dateSelection | date:'yyyy-MM-dd' }}" 
                    [disabled]="useTodaysDate"
                >
            </div>

            <div class="formSection">
                <div>interval</div>
                <select class="dropdown" name="intervalSelection" [(ngModel)]="intervalSelection">
                    <option *ngFor="let x of anniversaryIntervals">{{x}}</option>
                </select>
            </div>

            <div class="formSection">
                <div>number of events</div>
                <input class="textInput" type="number" min="0" step="1" oninput="validity.valid||(value='');" name="eventsNumber" [(ngModel)]="eventsNumber">    
            </div>
            
            <button class="btn btn-outline-dark button" (ngClick)="createFile()">generate</button>
        </form>
    </div>
</div>
